<form class="ic-dynamic-form"  (ngSubmit)="handleSubscription()">
  <div class="mb-2">
      <label class="mb-1" for="firstname-input">Name:</label>
      <input value="" type="text" id="firstname-input" name="firstname-input" class="form-control" placeholder="*Name">
  </div>
  <div class="mb-2">
    <label class="mb-1" for="lastname-input">Last name:</label>
    <input value="" type="text" id="lastname-input" name="lastname-input" class="form-control" placeholder="*Last name">
  </div>
  <div class="mb-2">
      <label class="mb-1" for="email-input">Email:</label>
      <input value="" type="text" id="email-input" name="email-input" class="form-control" placeholder="*Email">
  </div>
  <div class="mt-4 mb-2">
      <button type="submit" class="btn w-100" >Send</button>
  </div>
</form>
